{% extends 'base.html' %}

{% block content %}

<div class="container p-4 p-md-5 my-4 rounded text-body-emphasis heading-part">
    <div class="row">
        <div class="col-lg-6 col-12 px-0">
            <h1 class="display-4 fst-italic text-dark">your favorite recipes</h1>

        </div>
    </div>
</div>

{% if favorites %}
{% for favorite in favorites %}
<div class="container px-4 pt-2 pb-4 my-2 main-part">
    <div class="row flex-lg-row-reverse align-items-center py-2">
        <!-- Image Section -->
        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
            <img src="{{favorite.recipe.picture_url}}" class="d-block mx-auto img-fluid rounded shadow-sm" alt="{{ drink.strDrink }} pic" width="700" height="500" loading="lazy">
            <a href="" class="mt-5 btn btn-danger">Remove</a>
        </div>
        <!-- Text Section -->
        <div class="col-12 col-lg-6">
            <h5 class="display-5 lh-1 my-3 fw-bold text-dark">{{ favorite.recipe.title }}</h5>
            <h5 class="text-dark">Instructions</h5>
            <p class="text-dark">{{ favorite.recipe.instruction }}</p>
            <h5 class="text-dark">Category:</h5>
            <p class="text-dark">{{ favorite.recipe.category }}</p>
            <h5 class="text-dark">Ingredients</h5>
            <ul class="list-group">
                
                {% for amount, ingredient in favorite.combined %}
                <li class="list-group-item text-bg-dark p-3">{{ amount.title }} {{ ingredient.title }}</li>

                {% endfor %}
                    
        </div>
    </div>
</div>
{% endfor %}
{% else %}
    <p>You don't have anything in your favorite list.</p>
{% endif %}

{% endblock content %}
